.container{
    margin: 0px;
    background-color: #fff2f2;
    text-align: center;
    
}

.slider{
    width: 70%;
    height: 600px;
    margin: 0px auto;
    position: relative;
    box-shadow: 0px 0 px 10 px 3 px grey;
    overflow: hidden;
    border: 5px solid rgb(212, 5, 5);

}

.slider figure{
    margin: 0px;
    position: relative;
    width: 500%;
    left: 0;
    transition: 1s ease-in-out;
}

.slider figure img{
    width: 25%;
    height: 100%;
    float: left;
}

.btn-next, .btn-prev{
position: absolute;
top: 45%;
cursor: pointer;
color: rgb(245, 221, 0);;
background: rgb(212, 5, 5);
padding: 20px;
font-size: 50px;
border: none;
}

.btn-next{
    right: 0px;
}

.btn-prev{
    left: 0px;
}